@import "tailwindcss";

:root {
  --background: #fff;
  --primary: #130929;
  --secondary: #185ad9;
  --paragraph: #64656d;
  --caption: #fba017;
  --color-primary-start: #5f90f0;
  --color-primary-end: #185ad9;
  --font-manrope: "Manrope", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--primary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-primary-start: var(--color-primary-start);
  --color-primary-end: var(--color-primary-end);
  --color-body: var(--paragraph);
  --color-caption: var(--caption);
  --font-manrope: var(--font-manrope);
}
